
$main-color: #fff;
$access-col: #2F80ED;
$dark-color: #333333;

// FONTS

$font-light: 300;
$font-regular: 400;


// MEDIA

$screen-lg-1600: 1600px;
$screen-lg-1024: 1024px;
$screen-md-768: 768px;
$screen-sm-425: 425px;
$screen-sm-320: 320px;
